<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-8">
    <div class="row stylish-panel">
      <% @fixes.each do |fix| %>
        <div class="col-md-4 col-sm-4 col-xs-12"
             style='height:150px; cursor:pointer'
             onclick="window.location='<%= root_path %>'">
          <div>
            <h3><%= fix.number %></h3>
            <p><%= fix.description %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>