<div class="container">
  <div class="container">
    <div class="col-md-12">
      <div class="page-header">
        <h1 class="text-center">EasyFix</h1>
      </div>
      <p class="lead text-center">User's fixes</p>
    </div>
  </div>
  <%= render partial: "fixes/fix" %>
</div>